<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="doc : ${list}">
            <span th:text="'작성자 : ' + ${doc.getDocument().getMember().getName()}"></span>
            <span th:text="' / 문서 번호 : ' + ${doc.getDocument().getDocId()}"></span>
            <span th:text="' / 제목 : ' + ${doc.getDocument().getTitle()}"></span>
            <span th:text="' / 내용 : ' + ${doc.getDocument().getContent()}"></span>
            <ul>
                <li>
                    <span th:text="'결재자 ID : ' + ${doc.getMember().getMemId()}"></span>
                    <span th:text="' / 결재자 이름 : ' + ${doc.getMember().getName()}"></span>
                    <span th:text="' / 결재 상태' + ${doc.getStat()}"></span>
                    <span> || </span>
                    <a th:href="@{/doc/ok(id = ${doc.getAppId()})}">승인</a>
                    <a th:href="@{/doc/no(id = ${doc.getAppId()})}">반려</a>
                </li>
            </ul>
            <hr>
        </li>
    </ul>
</body>
</html>