<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/doc/write" method="post">
    <input type="text" name="memId" value="1">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="content" placeholder="content">

    <label for="p1">결재자1</label>
    <select name="p1" id="p1">
        <option th:each="mem : ${list}" th:value="${mem.getMemId()}" th:text="${mem.getName()}"></option>
    </select>

    <label for="p2">결재자2</label>
    <select name="p2" id="p2">
        <option th:each="mem : ${list}" th:value="${mem.getMemId()}" th:text="${mem.getName()}"></option>
    </select>

    <label for="p3">결재자3</label>
    <select name="p3" id="p3">
        <option th:each="mem : ${list}" th:value="${mem.getMemId()}" th:text="${mem.getName()}"></option>
    </select>

    <button type="submit">write</button>
</form>
</body>
</html>